{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSON Data Page</title>
    <link rel="stylesheet" href="{% static "/jsonpage.css" %}" />
  </head>
  <body>
    <h1>JSON Data</h1>
    <div class="json-container">
      <pre id="jsonData"></pre>
    </div>

    <script>
      const jsonData = {
        name: "John Doe",
        age: 30,
        city: "New York",
        email: "john.doe@example.com",
      };

      document.getElementById("jsonData").textContent = JSON.stringify(
        jsonData,
        null,
        4
      );
    </script>
  </body>
</html>
